/*
0-600px     Phone
600-900px   Tablet (Portrait)
900-1200px  Tablet (Landscape)
1200-1800px Our styles
1800+       Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > General layout + grid > page layout > Components

1em=16px
*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(1rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight2 {
  0% {
    opacity: 0;
    transform: translateX(2rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes blur {
  0% {
    filter: blur(15px); }
  50% {
    filter: blur(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #cf6766;
  color: #fff; }

body {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #57648C; }
  @media only screen and (max-width: 37.5em) {
    body {
      font-size: 1.6rem; } }

.heading-primary {
  font-family: proxima-nova, sans-serif;
  font-size: 3.6rem;
  backface-visibility: hidden; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 3rem; } }
  .heading-primary--main {
    display: block;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 1s;
    /*
        animation-delay: 1s;
        */
    animation-iteration-count: 1;
    animation-timing-function: ease-in; }
  .heading-primary--sub {
    display: block;
    font-weight: 900;
    font-family: proxima-nova, sans-serif;
    animation-name: moveInRight2;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background-image: linear-gradient(to left, #cf6766, #031424);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 5px;
  transition: all .2s; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.2rem;
      letter-spacing: 3px;
      margin-top: 10%; } }
  .heading-secondary:hover {
    transform: skewX(-15deg) scale(1.1); }
  .heading-secondary-white {
    color: #fff; }

.heading-tertiary {
  font-weight: bold;
  font-size: 3.6rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.9rem; } }

p {
  font-size: 1.8rem;
  text-align: left; }
  p:not(:last-child) {
    margin-bottom: 3rem; }

.paragraph--title {
  font-family: century-old-style-std, serif;
  font-weight: bold;
  font-size: 2.2rem;
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), rgba(244, 219, 220, 0.5) 75%); }
  @media only screen and (max-width: 37.5em) {
    .paragraph--title {
      font-size: 2rem; } }
  .paragraph--title:not(:last-child) {
    margin-top: 3rem; }

h4 {
  font-family: century-old-style-std, serif;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 10px;
  margin: 5rem auto; }
  @media only screen and (max-width: 37.5em) {
    h4 {
      letter-spacing: 1px; } }

h5 {
  font-family: century-old-style-std, serif;
  font-weight: 400;
  font-size: 1.4rem; }

h6 {
  font-family: century-old-style-std, serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  color: #777;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    h6 {
      float: none; } }
  @media only screen and (max-width: 37.5em) {
    h6 {
      font-size: 1.2rem; } }

.heading-tutoring {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 5px;
  color: #fff;
  padding: 5rem 0;
  display: inline-block; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .heading-tutoring {
      padding: 5rem 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-tutoring {
      font-size: 2rem;
      padding: 4rem; } }
  .heading-tutoring-video {
    border: none;
    line-height: 10rem;
    letter-spacing: 8px; }
    @media only screen and (max-width: 37.5em) {
      .heading-tutoring-video {
        line-height: 5rem;
        letter-spacing: 3px; } }

.heading-sidework {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 5px;
  color: #57648C;
  padding: 5rem 0;
  display: inline-block;
  border-top: 5px solid #57648C;
  border-bottom: 5px solid #57648C; }
  @media only screen and (max-width: 37.5em) {
    .heading-sidework {
      font-size: 2.5rem; } }

.u-center-text {
  text-align: center !important; }

.u-left-text {
  text-align: left !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-none {
  margin-bottom: 0 !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-top-huge {
      margin-top: 4rem !important; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.4rem;
      padding: 1.3rem 3rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  translate: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn--pink {
  background-color: #cf6766;
  border: none;
  color: #fff; }
  .btn--pink::after {
    background-color: rgba(244, 219, 220, 0.5); }

.btn--white {
  border: 2px solid #cf6766;
  background-color: #fff;
  color: #cf6766; }
  .btn--white::after {
    background-color: rgba(247, 247, 247, 0.5); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn--2inrow {
  margin: auto 0.5rem; }
  @media only screen and (max-width: 37.5em) {
    .btn--2inrow {
      margin: auto 1rem; } }

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #cf6766;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s; }

.btn-text:hover {
  transform: translateY(-2px);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, rgba(207, 103, 102, 0.3) 65%);
  border-bottom: none; }

.btn-text:active {
  transform: translateY(0);
  outline: none; }

/*.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        @include respond(tab-port) {
            float: left;
            position: relative;
            width: 33.33333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &--p1 {
            left: 0;
            top: -2rem;

            @include respond(tab-port) {
                top: 0;
                transform: scale(1.2);
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;

            @include respond(tab-port) {
                top: -1rem;
                transform: scale(1.3);
                z-index: 100;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            @include respond(tab-port) {
                left: 0;
                top: 1rem;
                transform: scale(1.1);
            }
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;

        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
    

}
*/
.project__textbox {
  width: 40%;
  height: auto;
  float: left;
  margin-right: 6rem; }
  @media only screen and (max-width: 37.5em) {
    .project__textbox {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem; } }
  .project__textbox .paragraph--title {
    background-image: none; }
  .project__textbox__right {
    float: right;
    margin-right: 0;
    margin-left: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .project__textbox__right {
        float: left;
        width: 100%;
        margin-left: 2rem; } }

.project__image {
  width: 50%;
  height: auto;
  float: right; }
  @media only screen and (max-width: 37.5em) {
    .project__image {
      width: 100%; } }
  .project__image__left {
    float: left;
    width: 50%; }
    @media only screen and (max-width: 37.5em) {
      .project__image__left {
        width: 100%; } }

.projectimg {
  width: 95%;
  height: auto;
  background-size: cover; }

.card {
  perspective: 150rem;
  /*Firefox*/
  -moz-perspective: 150rem;
  position: relative;
  /*to deal with position:absolute*/
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    letter-spacing: 8px;
    font-family: century-old-style-std, serif; }
    .card__side--front {
      background-color: rgba(147, 74, 95, 0.95); }
    .card__side--back {
      /*place it at the back*/
      transform: rotateY(180deg);
      font-family: proxima-nova, sans-serif;
      letter-spacing: 0; }
  .card:hover .card__side--front {
    /*place it to the back when hover*/
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    /*place it back to the front*/
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 100%; }
    .card__picture-1 {
      background-image: linear-gradient(to bottom, rgba(244, 219, 220, 0.3), rgba(147, 74, 95, 0.5)), url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729136/portfolio/sidework_hero_kqa0aa.jpg"); }
      @media only screen and (max-width: 85.4em) and (orientation: landscape) {
        .card__picture-1 {
          background-position: 10% 10%; } }
      @media only screen and (max-width: 37.5em) {
        .card__picture-1 {
          background-position: 10% 10%; } }
    .card__picture-2 {
      background-image: linear-gradient(to bottom, rgba(244, 219, 220, 0.1), rgba(147, 74, 95, 0.5)), url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729151/portfolio/tutoring_heroimg_oacxqi.jpg"); }
      @media only screen and (max-width: 85.4em) and (orientation: landscape) {
        .card__picture-2 {
          background-position: top; } }
      @media only screen and (max-width: 37.5em) {
        .card__picture-2 {
          background-position: top; } }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__sideworks {
    margin-bottom: 8rem;
    color: #fff;
    text-transform: uppercase; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .card {
      height: 43rem;
      background-color: #934A5F;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      border-radius: 10px; }
      .card__side {
        height: 28rem;
        position: relative;
        box-shadow: none;
        letter-spacing: 2px; }
        .card__side--front {
          height: 15rem; }
        .card__side--back {
          transform: rotateY(0);
          border-radius: 0 0 10px 10px; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: absolute;
        top: 35%;
        left: 0;
        transform: translate(0);
        width: 100%; }
      .card__sideworks {
        margin-bottom: 0; } }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .card {
      height: 43rem;
      background-color: #934A5F;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      margin-right: 1rem; }
      .card__side {
        height: 28rem;
        position: relative;
        box-shadow: none;
        letter-spacing: 2px; }
        .card__side--front {
          height: 15rem; }
        .card__side--back {
          transform: rotateY(0);
          border-radius: 0 0 10px 10px; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: absolute;
        top: 35%;
        left: 0;
        transform: translate(0);
        width: 100%; }
      .card__sideworks {
        margin-bottom: 0; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      height: 43rem;
      background-color: #934A5F;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      border-radius: 10px; }
      .card__side {
        height: 28rem;
        position: relative;
        box-shadow: none;
        letter-spacing: 2px; }
        .card__side--front {
          height: 15rem; }
        .card__side--back {
          transform: rotateY(0);
          border-radius: 0 0 10px 10px; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: absolute;
        top: 45%;
        left: 0;
        transform: translate(0);
        width: 100%; }
      .card__sideworks {
        margin-bottom: 0; } }

@media only screen and (max-width: 85.4em) and (orientation: landscape) {
  .section-sidework .u-margin-top-huge {
    margin-top: 0 !important; } }

@media only screen and (max-width: 37.5em) {
  .section-sidework .u-margin-top-huge {
    margin-top: 0 !important; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.8rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        width: 15rem;
        height: 15rem;
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .85;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form {
  display: block; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__image {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 60%, transparent 60%), url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729162/portfolio/writinghand_mm4eee.png");
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 85.4em) and (orientation: landscape) {
      .form__image {
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 80%, transparent 80%), url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729162/portfolio/writinghand_mm4eee.png");
        background-size: cover; } }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .form__image {
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 80%, transparent 80%), url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729162/portfolio/writinghand_mm4eee.png");
        background-size: cover; } }
    @media only screen and (max-width: 37.5em) {
      .form__image {
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 80%, transparent 80%), url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729162/portfolio/writinghand_mm4eee.png");
        background-size: cover; } }
  .form__background {
    background-color: #F4DBDC;
    padding: 15rem 10rem;
    height: 100vh; }
    @media only screen and (max-width: 85.4em) and (orientation: landscape) {
      .form__background {
        padding: 10rem; } }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .form__background {
        padding: 30rem 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__background {
        padding: 20rem 5rem;
        min-height: 85rem; } }
  .form__content {
    width: 60%;
    padding: 6rem; }
    @media only screen and (max-width: 85.4em) and (orientation: landscape) {
      .form__content {
        width: 100%;
        padding: 6rem; } }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .form__content {
        width: 100%;
        padding: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__content {
        padding: 4rem;
        width: 100%; } }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(229, 229, 229, 0.5);
    width: 90%;
    display: block;
    transition: all .3s; }
    @media only screen and (max-width: 37.5em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #F4DBDC; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #cf6766; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
    text-align: left; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__textarea {
    min-height: 15rem; }
  .form > .row {
    display: block; }

.tutoring__container {
  position: relative;
  padding-top: 10rem;
  width: 100%;
  height: auto;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed; }
  .tutoring__container > .flex__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5rem auto; }
    .tutoring__container > .flex__container > .flex__item {
      margin: 5rem 3rem;
      width: 28%;
      background-size: cover;
      border-radius: 10px; }
      @media only screen and (max-width: 85.4em) and (orientation: landscape) {
        .tutoring__container > .flex__container > .flex__item {
          width: 27%; } }
      @media only screen and (max-width: 64em) and (orientation: portrait) {
        .tutoring__container > .flex__container > .flex__item {
          width: 42%; } }
      @media only screen and (max-width: 37.5em) {
        .tutoring__container > .flex__container > .flex__item {
          border-radius: 5px;
          margin: 3rem;
          width: 90%; } }

.tutoring__heroimg {
  width: 60%;
  background-size: cover;
  padding-bottom: 10rem; }

.tutoringvideo__bg {
  padding: 20rem 0; }
  @media only screen and (max-width: 37.5em) {
    .tutoringvideo__bg {
      padding: 10rem 0; } }

.container {
  height: auto;
  text-align: center;
  width: 60%;
  margin: 10rem auto; }
  @media only screen and (max-width: 37.5em) {
    .container {
      width: 90%;
      margin: 5rem auto; } }
  .container2 {
    width: 100%;
    text-align: center; }

.banner {
  background-size: cover;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .banner {
      height: 53vh; } }
  @media only screen and (max-width: 37.5em) {
    .banner {
      height: 40vh; } }
  .banner-1 {
    background-image: url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729144/portfolio/project2Img_hcrdhk.jpg"); }
  .banner-2 {
    width: 95%;
    margin: 0 auto;
    background-image: url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729143/portfolio/project1Img_hux2p1.jpg"); }
  .banner-3 {
    background-image: url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729161/portfolio/project3Img_k0tjd9.jpg"); }

.arrow {
  color: #777;
  margin-top: 3rem;
  font-size: 3rem; }

.goal {
  width: 40%; }

.detail {
  width: 60%; }

.overview {
  margin: 10rem auto 20rem auto; }
  .overview__container {
    width: 100%;
    height: 80rem;
    position: relative;
    display: flex;
    flex-direction: row; }
    @media only screen and (max-width: 37.5em) {
      .overview__container {
        display: block;
        height: 130rem; } }
  .overview__bg {
    background-image: linear-gradient(to right bottom, rgba(207, 103, 102, 0.4), rgba(244, 219, 220, 0.3)), url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729162/portfolio/writinghand_mm4eee.png");
    margin-bottom: -10rem;
    width: 52%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 20px solid #031424; }
    @media only screen and (max-width: 37.5em) {
      .overview__bg {
        display: none; } }
  .overview__position {
    position: absolute;
    width: 50%;
    right: 3rem;
    top: 5rem;
    display: block;
    z-index: 2; }
    @media only screen and (max-width: 85.4em) and (orientation: landscape) {
      .overview__position {
        width: 76%; } }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .overview__position {
        width: 78%; } }
    @media only screen and (max-width: 37.5em) {
      .overview__position {
        top: 0;
        width: 90%;
        margin: 0 auto; }
        .overview__position > .row {
          display: block;
          margin: 0;
          margin-bottom: 5rem; }
          .overview__position > .row [class^="col-"]:not(:last-child) {
            margin-right: 0;
            margin-bottom: 5rem; } }

.title {
  position: relative;
  width: 100%; }

.heading__decor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 11rem;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .heading__decor {
      text-align: center; } }
  .heading__decor::before, .heading__decor::after {
    content: "";
    position: absolute;
    width: 25rem;
    height: 3rem;
    margin: auto 0;
    background-color: #F4DBDC;
    display: inline-block; }
    @media only screen and (max-width: 85.4em) and (orientation: landscape) {
      .heading__decor::before, .heading__decor::after {
        width: 20rem; } }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .heading__decor::before, .heading__decor::after {
        width: 14rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading__decor::before, .heading__decor::after {
        background-color: transparent; } }
  .heading__decor::before {
    left: 0;
    border-left: 2rem solid #57648C; }
    @media only screen and (max-width: 37.5em) {
      .heading__decor::before {
        border-left: none; } }
  .heading__decor::after {
    right: 0;
    border-right: 4rem solid #cf6766; }
    @media only screen and (max-width: 37.5em) {
      .heading__decor::after {
        border-right: none; } }

.chartStyle {
  margin: 5rem auto; }

.tools {
  border: 5px solid #F4DBDC;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  height: 80rem;
  padding: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .tools {
      height: auto; } }

.intro__icon {
  font-size: 10rem;
  color: #F4DBDC;
  text-align: center; }

.styling {
  height: auto;
  width: 100%;
  margin-bottom: 1.5rem; }

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.persona {
  box-shadow: 0 1rem 4rem rgba(153, 153, 153, 0.15);
  padding: 3rem 2rem; }
  .persona .paragraph--title {
    background-image: none; }

.wireframe_container {
  display: flex;
  height: 70rem;
  overflow-x: scroll;
  position: relative;
  white-space: nowrap;
  width: 100%; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .wireframe_container {
      height: 45rem; } }
  @media only screen and (max-width: 37.5em) {
    .wireframe_container {
      height: 28rem; } }

.wireframe_container::-webkit-scrollbar {
  display: none; }

.wireframe_container .slide {
  display: inline-block;
  flex: 0 0 auto;
  text-align: center; }

.scroll_img {
  height: 60rem;
  margin: 2rem;
  width: auto; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .scroll_img {
      height: 35rem; } }
  @media only screen and (max-width: 37.5em) {
    .scroll_img {
      height: 20rem;
      margin: 1rem; } }

.conclusion__section {
  background-color: rgba(244, 219, 220, 0.2);
  color: #934A5F;
  padding: 0.5rem 0 10rem 0; }
  .conclusion__section .paragraph--title {
    color: #333;
    font-size: 2rem; }

.otherprojects__bg {
  background-color: #f7f7f7;
  padding: 8rem 0; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .otherprojects__bg {
      padding: 8rem 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .otherprojects__bg > .row {
      display: block;
      margin: 0;
      margin-bottom: 5rem; }
      .otherprojects__bg > .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5rem; } }

.otherprojects__container {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .otherprojects__container {
      display: block;
      width: 80%;
      margin: 0 auto; } }

.otherprojects__img {
  width: 45%;
  margin-right: 3rem; }

.otherprojects__text {
  padding: 5rem auto; }
  .otherprojects__text .paragraph--title {
    background-image: none; }

div#overlay, div#overlay2 {
  display: block;
  z-index: 2;
  background: rgba(244, 219, 220, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center; }

div#specialBox, div#specialBox2 {
  display: block;
  position: relative;
  z-index: 3;
  width: 50rem;
  top: 38%;
  left: 35%;
  height: 12rem;
  background: #FFF;
  border-radius: 10px;
  color: #cf6766; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    div#specialBox, div#specialBox2 {
      top: 42%;
      left: 23%; } }

@media only screen and (max-width: 85.4em) and (orientation: landscape) {
  div#specialBox, div#specialBox2 {
    margin: 0;
    height: 13rem;
    left: 24%; } }

@media only screen and (max-width: 37.5em) {
  div#specialBox, div#specialBox2 {
    width: 24rem;
    margin: 0;
    height: 11rem;
    left: 24%;
    top: 32%; } }

.color__primary {
  color: #cf6766; }

.aboutme__container, .aboutme__imagecontainer {
  position: relative;
  text-align: right;
  width: 100%; }

.aboutme__container {
  height: 100vh;
  z-index: -1; }
  @media only screen and (max-width: 37.5em) {
    .aboutme__container {
      height: 65vh; } }

.aboutme__wordings {
  position: absolute;
  width: 70%;
  top: 40%;
  z-index: 100;
  color: #333;
  font-size: 8rem;
  text-align: left;
  font-family: century-old-style-std, serif;
  padding-left: 20rem;
  animation: blur 3s ease-in-out; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .aboutme__wordings {
      width: 80%;
      font-size: 10rem;
      padding-left: 20rem;
      top: 40%; } }
  @media only screen and (max-width: 37.5em) {
    .aboutme__wordings {
      width: 70%;
      font-size: 4rem;
      padding-left: 6rem;
      top: 40%; } }

.aboutme__heroimg {
  width: 90%; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .aboutme__heroimg {
      width: 100%; } }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .aboutme__heroimg {
      width: 100%; } }

.aboutme__image1 {
  float: left;
  width: 33%;
  z-index: -1; }
  @media only screen and (max-width: 37.5em) {
    .aboutme__image1 {
      width: 100%;
      float: none; } }

.aboutme__image2 {
  z-index: 4;
  width: 100%;
  background-size: cover; }

.aboutme__image3 {
  position: absolute;
  z-index: 3;
  top: 58%;
  right: 3%;
  width: 20%;
  background-size: cover; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .aboutme__image3 {
      top: 48%;
      width: 25%; } }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .aboutme__image3 {
      top: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .aboutme__image3 {
      top: 22%; } }

.aboutme__image4 {
  position: absolute;
  z-index: 3;
  top: 10%;
  left: 0;
  width: 38%;
  background-size: cover; }

.aboutme__image5 {
  position: absolute;
  z-index: -1;
  top: -45%;
  right: 0;
  width: 45%;
  background-size: cover; }

.aboutme__textbox1 {
  margin-left: 60rem; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .aboutme__textbox1 {
      margin-left: 40rem; } }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .aboutme__textbox1 {
      margin-left: 34rem; } }
  @media only screen and (max-width: 37.5em) {
    .aboutme__textbox1 {
      margin: 5rem auto;
      width: 90%; } }

.aboutme__textbox2 {
  margin-right: 45rem; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .aboutme__textbox2 {
      margin-right: 35rem; } }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .aboutme__textbox2 {
      margin-right: 30rem; } }
  @media only screen and (max-width: 37.5em) {
    .aboutme__textbox2 {
      margin: 5rem auto;
      width: 90%; } }

.truth {
  position: relative;
  text-align: left;
  width: 100%;
  height: 100rem; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .truth {
      height: 75rem; } }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .truth {
      height: 65rem; } }
  @media only screen and (max-width: 37.5em) {
    .truth {
      height: 40rem; } }
  .truth__textbox {
    width: 38%;
    background-color: #cf6766;
    border-radius: 10px;
    color: #fff;
    padding: 15rem 8rem;
    position: absolute;
    top: 30%;
    right: 28%;
    z-index: 4; }
    @media only screen and (max-width: 85.4em) and (orientation: landscape) {
      .truth__textbox {
        top: 25%;
        width: 50%;
        right: 16%; } }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .truth__textbox {
        top: 16%;
        width: 55%;
        right: 12%; } }
    @media only screen and (max-width: 37.5em) {
      .truth__textbox {
        width: 65%;
        border-radius: 5px;
        padding: 5rem 2rem;
        top: 3%;
        right: 5%; } }

.sidework__container {
  position: relative;
  padding-top: 10rem;
  width: 100%;
  height: auto;
  background-image: radial-gradient(to bottom right, #fff, #F4DBDC); }
  .sidework__container .flex__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5rem auto; }
    @media only screen and (max-width: 37.5em) {
      .sidework__container .flex__container {
        margin: 0; } }
  .sidework__container .flex__item {
    margin: 5rem 3rem;
    width: 43%;
    border-radius: 10px; }
    @media only screen and (max-width: 85.4em) and (orientation: landscape) {
      .sidework__container .flex__item {
        width: 43%; } }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .sidework__container .flex__item {
        width: 42%; } }
    @media only screen and (max-width: 37.5em) {
      .sidework__container .flex__item {
        border-radius: 5px;
        width: 90%; } }
    .sidework__container .flex__item > img {
      width: 100%;
      background-size: cover;
      border-radius: 10px; }
      @media only screen and (max-width: 37.5em) {
        .sidework__container .flex__item > img {
          border-radius: 5px; } }
    .sidework__container .flex__item1 {
      margin: 5rem 3rem;
      width: 80%;
      border-radius: 10px; }
      @media only screen and (max-width: 37.5em) {
        .sidework__container .flex__item1 {
          margin: 3rem;
          width: 90%;
          border-radius: 5px; } }
      .sidework__container .flex__item1 > img {
        width: 100%;
        background-size: cover;
        border-radius: 10px; }
        @media only screen and (max-width: 37.5em) {
          .sidework__container .flex__item1 > img {
            border-radius: 5px; } }
    .sidework__container .flex__item2 {
      margin: 5rem 3rem;
      width: 25%; }
      @media only screen and (max-width: 85.4em) and (orientation: landscape) {
        .sidework__container .flex__item2 {
          width: 27%; } }
      @media only screen and (max-width: 64em) and (orientation: portrait) {
        .sidework__container .flex__item2 {
          width: 26%; } }
      @media only screen and (max-width: 37.5em) {
        .sidework__container .flex__item2 {
          margin: 3rem;
          width: 90%; } }
      .sidework__container .flex__item2 > img {
        width: 100%;
        background-size: cover;
        border-radius: 10px; }
        @media only screen and (max-width: 37.5em) {
          .sidework__container .flex__item2 > img {
            border-radius: 5px; } }

.sidework__caption {
  display: block; }

.header {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  background-image: url("../img/heroimg2.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      height: 100vh; } }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .header {
      background-position: right; } }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .header {
      background-position: left; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      background: linear-gradient(to right, #f7f7f7, #E5E5E5);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
      height: 50vh; } }
  .header__logo-box {
    position: fixed;
    top: 4rem;
    left: 4rem;
    z-index: 10000; }
  .header__logo {
    height: 5rem;
    width: auto;
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        height: 4rem; } }
    .header__logo:hover {
      animation: moveInRight 1s; }
  .header__text-box {
    position: absolute;
    top: 35%;
    right: 6%;
    text-align: left; }
    @media only screen and (max-width: 85.4em) and (orientation: landscape) {
      .header__text-box {
        right: 5%;
        width: 33%;
        top: 27%; } }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .header__text-box {
        left: 10%;
        top: 35%;
        width: 55%; } }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        top: 40%;
        right: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center; } }

.row {
  display: flex;
  max-width: 114rem;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .row {
      max-width: 100rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .row [class^="col-"] {
        width: 49% !important; } }
    @media only screen and (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 64em) and (orientation: portrait) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 5rem;
          margin-bottom: 0; } }
  .row .padding-add {
    padding-left: 20rem; }
    @media only screen and (max-width: 85.4em) and (orientation: landscape) {
      .row .padding-add {
        padding-left: 0; } }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .row .padding-add {
        padding-left: 0; } }
    @media only screen and (max-width: 37.5em) {
      .row .padding-add {
        padding-left: 0; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% -  2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(( 2 * ((100% -  2 * 6rem) / 3)) + 6rem); }
  .row .col-2-of-4 {
    width: calc(( 2 * ((100% - 3 * 6rem) / 4)) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-3-of-4 {
    width: calc(( 3 * ((100% - 3 * 6rem) / 4)) + ( 2 * 6rem)); }

@media only screen and (max-width: 37.5em) {
  footer .row [class^="col-"] {
    width: 50% !important; } }

@media only screen and (max-width: 37.5em) {
  .row .col-1-of-3-m {
    width: 30% !important;
    margin-bottom: 3rem !important;
    margin-right: 5px !important; } }

@media only screen and (max-width: 37.5em) {
  .row .col-1-of-3-m-f {
    width: 100% !important;
    margin-bottom: 3rem !important;
    margin-right: 0 !important; } }

.footer {
  background-color: #fff;
  font-family: century-old-style-std, serif;
  padding: 5rem 0;
  color: #57648C; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .footer {
      padding: 5rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 5rem 1rem; } }
  .footer > .row .col-1-of-2 h6 {
    margin-bottom: 0; }
  .footer__thankyou {
    text-align: center; }
    .footer__thankyou .paragraph--title {
      background-image: none; }
  .footer__logo-box {
    text-align: center;
    margin: 5rem auto; }
    @media only screen and (max-width: 64em) and (orientation: portrait) {
      .footer__logo-box {
        margin: 3rem auto; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .footer__navigation {
      width: 100%;
      text-align: center; } }
  .footer__list {
    list-style: none;
    float: right; }
    @media only screen and (max-width: 37.5em) {
      .footer__list {
        float: center; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
      @media only screen and (max-width: 37.5em) {
        .footer__item:not(:last-child) {
          margin-right: .8rem; } }
  .footer__link:link, .footer__link:visited {
    color: #333;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #cf6766;
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
    color: #777; }
    @media only screen and (max-width: 37.5em) {
      .footer__copyright {
        font-size: 1.1rem;
        width: 100%; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem;
      height: 5rem;
      width: 5rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#F4DBDC, #cf6766);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      height: 2rem;
      width: 2rem;
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: none;
  transition: all 0.8s cubic-bezier(0.86, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  margin-bottom: 5rem;
  animation: blur 1s ease-in; }

.navigation__item {
  padding: 1rem 0; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 230%;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  transition: all .4s; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 2.5rem; } }

.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #8EAEBD;
  border-bottom-style: outset;
  border-bottom-color: #8EAEBD;
  border-bottom-width: 7px;
  padding-bottom: 10px;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(200); }

.navigation__checkbox:checked ~ .navigation__nav {
  display: block;
  width: 100%; }

.navigation__icon {
  margin-top: 3.5rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .navigation__icon {
      margin-top: 2.4rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #cf6766;
    display: inline-block; }
    @media only screen and (max-width: 37.5em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 2rem;
        height: 2px; } }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon:before {
  top: -1rem; }

.navigation__button:hover .navigation__icon:after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-project {
  background-color: #fff;
  padding: 25rem 0 15rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 85.4em) and (orientation: landscape) {
    .section-project {
      padding: 30rem 5rem 10rem 5rem; } }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .section-project {
      padding: 40rem 2rem 10rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-project {
      padding: 25rem 2rem 2rem 2rem; } }

.section-sidework {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(244, 219, 220, 0.8)), url("https://res.cloudinary.com/fiona-lwy/image/upload/v1590729142/portfolio/more_img_g7wiyr.jpg");
  background-size: cover;
  padding: 15rem 0;
  position: relative;
  width: 100%; }
  @media only screen and (max-width: 64em) and (orientation: portrait) {
    .section-sidework {
      padding: 5rem;
      background-position: top left; } }
  @media only screen and (max-width: 37.5em) {
    .section-sidework > .row {
      display: block;
      margin: 0;
      margin-bottom: 5rem; }
      .section-sidework > .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5rem; } }

@media only screen and (max-width: 37.5em) {
  .section-research > .row {
    display: block;
    width: 100%; } }

.section-persona {
  align-items: stretch; }

@media only screen and (max-width: 37.5em) {
  .section-persona .row {
    display: block;
    width: 100%; } }

@media only screen and (max-width: 37.5em) {
  .section-prototype > .container > .row {
    display: block;
    width: 100%; } }

/*
.book {
    background-image: linear-gradient(105deg, 
    rgba($color-white, .8) 0%, 
    rgba($color-white, .8) 50%, 
    transparent 50%),
    url(../img/nat-10.jpg);
    //means cover
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, 
        rgba($color-white, .9) 0%, 
        rgba($color-white, .9) 65%, 
        transparent 65%),
        url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
        rgba($color-white, .9) 0%, 
        rgba($color-white, .9) 100%),
        url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}*/
