@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin mobileRow {
    display: block;
    margin: 0;
    margin-bottom: 5rem;
        
        [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5rem;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// media query manager
/*
0-600px     Phone
600-900px   Tablet (Portrait)
900-1200px  Tablet (Landscape)
1200-1800px Our styles
1800+       Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > General layout + grid > page layout > Components

1em=16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em){ @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 64em) and (orientation: portrait){ @content }; //900px-->1024
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 85.4em) and (orientation: landscape){ @content }; //1200px->1366
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em){ @content }; //1800px
    }
}