// COLORS
$color-primary: #cf6766; 
$color-primary-light: #F4DBDC;
$color-primary-dark: #934A5F;

$color-secondary-light: #8EAEBD;
$color-secondary-dark: #031424;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #E5E5E5;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-text: #57648C;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.8rem;

//GRID
$grid-width: 114rem;
$grid-width-tab-land: 100rem;
$grid-width-tab-port: 80rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
