.header {
    
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    background-image: url("../img/heroimg2.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @include respond(tab-land-ipro) {
        background-position: right;
    }

    @include respond(tab-port-ipro) {
        background-position: left;
    }

    @include respond(phone) {
        background: linear-gradient(to right, rgba($color-primary-light, .8), rgba($color-primary-light, .9)), url("../img/heroimg2.jpg");
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
        height: 50vh;
        width: auto;
        background-size: cover;
    }

    &__logo-box {
        position: fixed;
        top: 4rem;
        left: 4rem;
        z-index: 10000;
    }


    &__logo {
        height: 5rem;
        width: auto;
        display: block;

        @include respond(phone) {
            height: 4rem;
        }

        &:hover {
            animation: moveInRight 1s;
        }
    }

    &__text-box {
        display: inline-block;
        text-align: left;
        padding: 35rem 1rem 50rem 5rem;

        @include respond(tab-land-ipro) {
            padding: 35rem 1rem 50rem 2rem;
        }

        @include respond(tab-land) {
            padding: 35rem 1rem 50rem 60rem;
        }

        @include respond(tab-port-ipro) {
            padding: 35rem 1rem 80rem 8rem;
        }

        @include respond(tab-port) {
            padding: 40rem 1rem 70rem 8rem;
        }

        @include respond(phone) {
            width: 100%;
            padding: 10rem 6rem;
            text-align: center;
        }
    }

}