.header {
    
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    background-image: url("../img/heroimg2.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @include respond(tab-land) {
        background-position: right;
    }

    @include respond(tab-port) {
        background-position: left;
    }

    @include respond(phone) {
        background: linear-gradient(to right, rgba($color-primary-light, .8), rgba($color-primary-light, .9)), url("../img/heroimg2.jpg");
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
        height: 50vh;
        width: auto;
        background-size: cover;
    }

    &__logo-box {
        position: fixed;
        top: 4rem;
        left: 4rem;
        z-index: 10000;
    }


    &__logo {
        height: 5rem;
        width: auto;
        display: block;

        @include respond(phone) {
            height: 4rem;
        }

        &:hover {
            animation: moveInRight 1s;
        }
    }

    &__text-box {
        position: absolute;
        top: 35%;
        right: 6%;
        text-align: left;

        @include respond(tab-land) {
            right: 5%;
            width: 33%;
            top: 27%;
        }

        @include respond(tab-port) {
            left: 10%;
            top: 35%;
            width: 55%;
        }

        @include respond(phone) {
            top: 37%;
            right: 0;
            left: 4%;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }

}