.aboutme {

    &__container, &__imagecontainer {
        position: relative;
        text-align: right;
        width: 100%;
    }

    &__container {
        height: 100vh;
        z-index: -1;

        @include respond(phone) {
            height: 65vh;
        }
    }

    &__wordings {
        position: absolute;
        width: 70%;
        top: 40%;
        z-index: 100;
        color: $color-grey-dark-3;
        font-size: 8rem;
        text-align: left;
        font-family: century-old-style-std, serif;
        padding-left: 20rem;
        animation: blur 3s ease-in-out;

        @include respond(tab-port) {
            width: 80%;
            font-size: 10rem;
            padding-left: 20rem;
            top: 40%;
        }

        @include respond(phone) {
            width: 70%;
            font-size: 4rem;
            padding-left: 6rem;
            top: 40%;
        }
    }

    &__heroimg {
        width: 90%;

        @include respond(tab-land-ipro) {
            width: 100%;
        }

        @include respond(tab-port-ipro) {
            width: 100%;
        }
    }

    &__image1 {
        float: left;
        width: 33%;
        z-index: -1;

        @include respond(phone) {
            width: 100%;
            float: none;
        }
    }

    &__image2 {
        z-index: 4;
        width: 100%;
        background-size: cover;
    }
    
    &__image3 {
        position: absolute;
        z-index: 3;
        top: 58%;
        right: 3%;
        width: 20%;
        background-size: cover;

        @include respond(tab-land-ipro) {
            top: 48%;
            width: 25%;
        }

        @include respond(tab-port-ipro {
            top: 50%;
        }

        @include respond(phone) {
            top: 22%;
        }
    }

    &__image4 {
        position: absolute;
        z-index: 3;
        top: 10%;
        left: 0;
        width: 38%;
        background-size: cover;
    }

    &__image5 {
        position: absolute;
        z-index: -1;
        top: -45%;
        right: 0;
        width: 45%;
        background-size: cover;
    }

    &__textbox1 {
        margin-left: 60rem;

        @include respond(tab-land-ipro) {
            margin-left: 40rem;
        }

        @include respond(tab-port-ipro) {
            margin-left: 34rem;
        }

        @include respond(phone) {
            margin: 5rem auto;
            width: 90%;
        }
    }

    &__textbox2 {
        margin-right: 45rem;

        @include respond(tab-land) {
            margin-right: 35rem;
        }

        @include respond(tab-port) {
            margin-right: 30rem;
        }

        @include respond(phone) {
            margin: 5rem auto;
            width: 90%;
        }
    }
}

.truth {
    position: relative;
    text-align: left;
    width: 100%;
    height: 100rem;


    @include respond(tab-land) {
        height: 75rem;
    }

    @include respond(tab-port) {
        height: 65rem;
    }

    @include respond(phone) {
        height: 40rem;
    }

    &__textbox {
        width: 38%;
        background-color: $color-primary;
        border-radius: 10px;
        color: $color-white;
        padding: 15rem 8rem;
        position: absolute;
        top: 30%;
        right: 28%;
        z-index: 4;

        @include respond(tab-land) {
            top: 25%;
            width: 50%;
            right: 16%;
        }

        @include respond(tab-port) {
            top: 16%;
            width: 55%;
            right: 12%;
        }

        @include respond(phone) {
            width: 65%;
            border-radius: 5px;
            padding: 5rem 2rem;
            top: 3%;
            right: 5%;
        }
    }
}