.card {

    //FUNCTIONALITY
    perspective: 150rem;
    /*Firefox*/
    -moz-perspective: 150rem;

    position: relative;

    /*to deal with position:absolute*/
    height: 50rem;
    

    &__side {
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        letter-spacing: 8px;
        font-family: century-old-style-std, serif;

        &--front {
                background-color: rgba($color-primary-dark, .95);
            &-1 {
            }

            &-2 {
            }
        }

        &--back {
            /*place it at the back*/
            transform: rotateY(180deg);
            font-family: proxima-nova, sans-serif;
            letter-spacing: 0;
        }
    }
    
    &:hover &__side--front {
        /*place it to the back when hover*/
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        /*place it back to the front*/
        transform: rotateY(0);
    }

    //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 100%;

        &-1 {
            background-image: linear-gradient(to bottom, rgba($color-primary-light, .3), rgba($color-primary-dark, .5)), url('https://res.cloudinary.com/fiona-lwy/image/upload/v1694844998/portfolio/Artboard_13-1_scf1gd.jpg');

            @include respond(tab-land) {
                background-position: 10% 10%;
            }

            @include respond(phone) {
                background-position: 10% 10%;
            }
        }

        &-2 {
            background-image: linear-gradient(to bottom, rgba($color-primary-light, .1), rgba($color-primary-dark, .5)), url('https://res.cloudinary.com/fiona-lwy/image/upload/v1590729151/portfolio/tutoring_heroimg_oacxqi.jpg');

            @include respond(tab-land) {
                background-position: top;
            }

            @include respond(phone) {
                background-position: top;
            }
        }
    }

    //FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__sideworks {
        margin-bottom: 8rem;
        color: $color-white;
        text-transform: uppercase;
    }

    @include respond(tab-land-ipro) {
        height: 43rem;
        background-color: $color-primary-dark;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        border-radius: 10px;

        &__side {
            height: 28rem;
            position: relative;
            box-shadow: none;
            letter-spacing: 2px;
    
            &--front {
                height: 15rem;
            }

            &--back {
                transform: rotateY(0);
                border-radius: 0 0 10px 10px;
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__cta {
            position: absolute;
            top: 35%;
            left: 0;
            transform: translate(0);
            width: 100%;
        }

        &__sideworks {
            margin-bottom: 0;
        }
    }

    @include respond(tab-port-ipro) {
        height: 43rem;
        background-color: $color-primary-dark;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        border-radius: 10px;
        margin-right: 1rem;

        &__side {
            height: 28rem;
            position: relative;
            box-shadow: none;
            letter-spacing: 2px;
    
            &--front {
                height: 15rem;
            }

            &--back {
                transform: rotateY(0);
                border-radius: 0 0 10px 10px;
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__cta {
            position: absolute;
            top: 35%;
            left: 0;
            transform: translate(0);
            width: 100%;
        }

        &__sideworks {
            margin-bottom: 0;
        }
    }

//@include respond(tab-port) {
    @include respond(phone) {
            height: 43rem;
            background-color: $color-primary-dark;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
            border-radius: 10px;

            &__side {
                height: 28rem;
                position: relative;
                box-shadow: none;
                letter-spacing: 2px;
        
                &--front {
                    height: 15rem;
                }

                &--back {
                    transform: rotateY(0);
                    border-radius: 0 0 10px 10px;
                }
            }
    
        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__cta {
            position: absolute;
            top: 45%;
            left: 0;
            transform: translate(0);
            width: 100%;
        }

        &__sideworks {
            margin-bottom: 0;
        }
    }
}

@include respond(tab-land) {
    .section-sidework .u-margin-top-huge {
        margin-top: 0 !important;
    }
}

@include respond(phone) {
    .section-sidework .u-margin-top-huge {
        margin-top: 0 !important;
    }
}