.container {
    height: auto;
    text-align: center;
    width: 60%;
    margin: 10rem auto;

    @include respond(phone) {
        width: 90%;
        margin: 5rem auto;
    }

    &2 {
        width: 100%;
        text-align: center;
    }
}

.banner {
    background-size: cover;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;
    min-height: 500px; 

    @include respond(tab-port-ipro) {
        background-attachment: none;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 53vh;
    }

    @include respond(phone) {
        background-attachment: none;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 40vh;
    }

    &-1 {
    background-image: url('https://res.cloudinary.com/fiona-lwy/image/upload/v1590729144/portfolio/project2Img_hcrdhk.jpg');
    }

    &-2 {
        width: 95%;
        margin: 0 auto;
        background-image: url('https://res.cloudinary.com/fiona-lwy/image/upload/v1590729143/portfolio/project1Img_hux2p1.jpg');

        @include respond(tab-port-ipro) {
            background-size: contain;
        }
    }

    &-3 {
        background-image: url('https://res.cloudinary.com/fiona-lwy/image/upload/v1590729161/portfolio/project3Img_k0tjd9.jpg');
    }
}

.arrow {
    color: $color-grey-dark;
    margin-top: 3rem;
    font-size: 3rem;
}

.goal {
    width: 40%;
}

.detail {
    width: 60%;
}

.overview {
    margin: 10rem auto 20rem auto;

    &__container {
        width: 100%;
        height: 80rem;
        position: relative;
        display: flex;
        flex-direction: row;

        @include respond(phone) {
            display: block;
            height: 130rem;
        }
    }

    &__bg {
        background-image: linear-gradient(to right bottom, rgba($color-primary, .4), rgba($color-primary-light, .3)),url('https://res.cloudinary.com/fiona-lwy/image/upload/v1590729162/portfolio/writinghand_mm4eee.png');
        margin-bottom: -10rem;
        width: 52%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        border-left: 20px solid $color-secondary-dark;

        @include respond(phone) {
            display: none;
        }
    }

    &__position {
        position: absolute;
        width: 50%;
        right: 3rem;
        top: 5rem;
        display: block;
        z-index: 2;

        @include respond(tab-land-ipro) {
            width: 76%;
        }

        @include respond(tab-port-ipro) {
            width: 78%;
        }

        @include respond(phone) {
            top: 0;
            width: 90%;
            margin: 0 auto;
            
            > .row {
                @include mobileRow;
            }
        }


    }
}

.title {
    position: relative;
    width: 100%;
}

.heading__decor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 11rem;
    width: 100%;

    @include respond(phone) {
        text-align: center;
    }

    &::before,
    &::after {
        content:"";
        position: absolute;
        width: 25rem;
        height: 3rem;
        margin: auto 0;
        background-color: $color-primary-light;
        display: inline-block;

        @include respond(tab-land-ipro) {
            width: 20rem;
        }

        @include respond(tab-port-ipro) {
            width: 14rem;
        }

        @include respond(phone) {
            background-color: transparent;
        }
    }

    &::before {
        left: 0;
        border-left: 2rem solid $color-text;
        //transform-origin: right;
        @include respond(phone) {
            border-left: none;
        }
    }

    &::after {
        right: 0;
        border-right: 4rem solid $color-primary;

        @include respond(phone) {
            border-right: none;
        }
    }
}

.chartStyle {
    margin: 5rem auto;
}

.tools { //=card
    border: 5px solid $color-primary-light;
    border-radius: 10px;
    background-color: $color-white;
    overflow: hidden;
    height: 80rem;
    padding: 5rem;

    @include respond(phone) {
        height: auto;
    }
}

.intro__icon { 
    font-size: 10rem;
    color: $color-primary-light;
    text-align: center;
}

.styling {
    height: auto;
    width: 100%;
    margin-bottom: 1.5rem;
}

.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.persona {
    box-shadow: 0 1rem 4rem rgba($color-grey-dark-2, .15);
    padding: 3rem 2rem;

    & .paragraph--title {
        background-image: none;
    }
}

.wireframe_container {
    display: flex;
    height: 70rem;
    overflow-x: scroll;
    position: relative;
    white-space: nowrap;
    width: 100%;

    @include respond(tab-land-ipro){
        height: 45rem;
    }

    @include respond(phone){
        height: 28rem;
    }
 }

.wireframe_container::-webkit-scrollbar {
    display: none;
}

.wireframe_container .slide {
    display: inline-block;
    flex: 0 0 auto;
    text-align: center;
}


.scroll_img {
    height: 60rem;
    margin: 2rem;
    width: auto;

    @include respond(tab-land-ipro){
            height: 35rem;
        }

    @include respond(phone){
            height: 20rem;
            margin: 1rem;
    }
}

.conclusion__section {
    background-color: rgba($color-primary-light, .2);
    color: $color-primary-dark;
    padding: 0.5rem 0 10rem 0;

    & .paragraph--title {
        color: $color-grey-dark-3;
        font-size: 2rem;
    }
}

.otherprojects {

    &__bg {
        background-color: $color-grey-light;
        padding: 8rem 0;

        @include respond(tab-port-ipro){
            padding: 8rem 3rem;
        }

        & > .row {
            @include respond(phone){

                @include mobileRow;
            }
        }
    }

    &__container {
        width: 100%;
        height: 40rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        background-color: rgba($color-white, .95);
        border-radius: 10px;
        padding: 3rem;

        @include respond(phone){
            display: block;
            width: 80%;
            margin: 0 auto;
        }
    }

    &__img {
        width: 45%;
        margin-right: 3rem;
    }

    &__text {
        padding: 5rem auto;

        & .paragraph--title {
            background-image: none;
        }
    }
}

div#overlay, div#overlay2 {
	display: block;
	z-index: 2;
    background: rgba(244, 219, 220,.8);
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

div#specialBox, div#specialBox2 {
	display: block;
    position: relative;
	z-index: 3;
    width: 50rem; 
    top: 38%;
    left: 35%;
    height: 12rem;
    background: #FFF;
    border-radius: 10px;
    color: $color-primary;
    
    @include respond(tab-port-ipro) {
        top: 42%;
        left: 23%;
    }
}

@include respond(tab-land-ipro) {
    div#specialBox, div#specialBox2 {
        margin: 0;
        height: 13rem;
        left: 24%;
    }
}

@include respond(phone) {
    div#specialBox, div#specialBox2 {
        width: 24rem; 
        margin: 0;
        height: 11rem;
        left: 24%;
        top: 32%;
    }
}

.color__primary {
    color: $color-primary;
}