.tutoring {

    &__container {
        position: relative;
        padding-top: 10rem;
        width: 100%;
        height: auto;
        background-color: $color-white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-attachment: fixed;
    }

    &__heroimg {
        width: 60%;
        background-size: cover;
        padding-bottom: 10rem;
    }

    &video__bg {
        padding: 20rem 0;

        @include respond(phone) {
            padding: 10rem 0;
        }
    }
}

.flex {

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 5rem auto;
    }

    &__item {
        margin: 5rem 3rem;
        width: 29%;
        background-size: cover;
        border-radius: 10px;

        @include respond(phone) {
            border-radius: 5px;
            margin: 3rem;
            width: 90%;
        }
    }
}